basePath: /
definitions:
  auth.LoginReq:
    properties:
      password:
        description: 密码
        type: string
      username:
        description: 用户名
        type: string
    type: object
  auth.LoginResp:
    properties:
      code:
        description: 状态码
        type: integer
      data:
        allOf:
        - $ref: '#/definitions/auth.LoginRespData'
        description: 数据
      message:
        description: 消息
        type: string
    type: object
  auth.LoginRespData:
    properties:
      token:
        description: 登录凭证
        type: string
    type: object
  mcpserver.AddMCPServerReq:
    properties:
      description:
        description: MCPServer 描述
        type: string
      isPublic:
        description: 是否公开
        type: boolean
      name:
        description: MCPServer 名称
        type: string
      openProxy:
        description: 是否开启代理
        type: boolean
      url:
        description: MCPServer URL
        type: string
    type: object
  mcpserver.AddMCPServerResp:
    properties:
      code:
        description: 状态码
        type: integer
      message:
        description: 消息
        type: string
    type: object
  mcpserver.DeleteMCPServerResp:
    properties:
      code:
        description: 状态码
        type: integer
      message:
        description: 消息
        type: string
    type: object
  mcpserver.DeleteTokenResp:
    properties:
      code:
        description: 状态码
        type: integer
      message:
        description: 消息
        type: string
    type: object
  mcpserver.GenerateTokenReq:
    properties:
      description:
        description: Token 描述
        type: string
      id:
        description: MCPServer ID
        type: integer
    type: object
  mcpserver.GenerateTokenResp:
    properties:
      code:
        description: 状态码
        type: integer
      data:
        allOf:
        - $ref: '#/definitions/mcpserver.GenerateTokenRespData'
        description: 数据
      message:
        description: 消息
        type: string
    type: object
  mcpserver.GenerateTokenRespData:
    properties:
      token:
        description: 生成的 Token
        type: string
    type: object
  mcpserver.GetMCPServerListResp:
    properties:
      code:
        description: 状态码
        type: integer
      data:
        description: 数据列表
        items:
          $ref: '#/definitions/mcpserver.GetMCPServerListRespData'
        type: array
      message:
        description: 消息
        type: string
    type: object
  mcpserver.GetMCPServerListRespData:
    properties:
      createdAt:
        description: 创建时间
        type: string
      creatorId:
        description: 创建者ID
        type: integer
      creatorNickname:
        description: 创建者nickname
        type: string
      description:
        description: 描述
        type: string
      id:
        description: MCPServer ID
        type: integer
      isPublic:
        description: 是否公开
        type: boolean
      name:
        description: 名称
        type: string
      openProxy:
        description: 是否开启代理
        type: boolean
      updatedAt:
        description: 更新时间
        type: string
      url:
        description: URL
        type: string
    type: object
  mcpserver.GetMCPServerResp:
    properties:
      code:
        description: 状态码
        type: integer
      data:
        allOf:
        - $ref: '#/definitions/mcpserver.GetMCPServerRespData'
        description: 数据
      message:
        description: 消息
        type: string
    type: object
  mcpserver.GetMCPServerRespData:
    properties:
      createdAt:
        description: 创建时间
        type: string
      creatorId:
        description: 创建者ID
        type: integer
      creatorNickname:
        description: 创建者nickname
        type: string
      description:
        description: 描述
        type: string
      id:
        description: MCPServer ID
        type: integer
      isPublic:
        description: 是否公开
        type: boolean
      name:
        description: 名称
        type: string
      openProxy:
        description: 是否开启代理
        type: boolean
      token:
        description: Token列表,仅创建者可见
        items:
          $ref: '#/definitions/mcpserver.TokenData'
        type: array
      updatedAt:
        description: 更新时间
        type: string
      url:
        description: URL
        type: string
    type: object
  mcpserver.TokenData:
    properties:
      description:
        description: 描述
        type: string
      id:
        description: ID
        type: integer
      token:
        description: Token
        type: string
    type: object
  mcpserver.UpdateMCPServerReq:
    properties:
      description:
        description: 描述
        type: string
      id:
        description: MCPServer ID
        type: integer
      isPublic:
        description: 是否公开
        type: boolean
      name:
        description: 名称
        type: string
      openProxy:
        description: 是否开启代理
        type: boolean
      url:
        description: URL地址
        type: string
    type: object
  mcpserver.UpdateMCPServerResp:
    properties:
      code:
        description: 状态码
        type: integer
      message:
        description: 消息
        type: string
    type: object
  user.GetUserInfoResp:
    properties:
      code:
        description: 状态码
        type: integer
      data:
        allOf:
        - $ref: '#/definitions/user.GetUserInfoRespData'
        description: 数据
      message:
        description: 消息
        type: string
    type: object
  user.GetUserInfoRespData:
    properties:
      id:
        description: 用户ID
        type: integer
      nickname:
        description: 昵称
        type: string
      role:
        description: 角色
        type: string
      username:
        description: 用户名
        type: string
    type: object
  user.RegisterReq:
    properties:
      email:
        description: 邮箱
        type: string
      nickname:
        description: 昵称
        type: string
      password:
        description: 密码
        type: string
      username:
        description: 用户名
        type: string
    type: object
  user.RegisterResp:
    properties:
      code:
        description: 状态码
        type: integer
      message:
        description: 消息
        type: string
    type: object
  user.UpdateSelfInfoReq:
    properties:
      nickname:
        description: 昵称
        type: string
      password:
        description: 密码
        type: string
    type: object
  user.UpdateSelfInfoResp:
    properties:
      code:
        description: 状态码
        type: integer
      message:
        description: 消息
        type: string
    type: object
info:
  contact: {}
  description: OpenMCP 网关服务 API 文档
  title: OpenMCP Gateway API
  version: "1.0"
paths:
  /api/auth/login:
    post:
      consumes:
      - application/json
      description: 用户使用账号密码登录
      parameters:
      - description: 登录请求参数
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/auth.LoginReq'
      produces:
      - application/json
      responses:
        "200":
          description: 请求成功 (Code=0) 或失败 (Code!=0)
          schema:
            $ref: '#/definitions/auth.LoginResp'
      summary: 用户登录
      tags:
      - 认证管理
  /api/mcpservers:
    get:
      description: 获取 MCPServer 列表，通过 scope 参数区分获取自己的还是公共的
      parameters:
      - description: 结束位置
        in: query
        name: end
        type: integer
      - description: 范围
        in: query
        name: scope
        type: string
      - description: 起始位置
        in: query
        name: start
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: 请求响应 (Code=0 成功)
          schema:
            $ref: '#/definitions/mcpserver.GetMCPServerListResp'
      summary: 获取 MCPServer 列表
      tags:
      - MCPServer管理
    post:
      consumes:
      - application/json
      description: 注册一个新的 MCPServer 服务
      parameters:
      - description: 添加请求参数
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/mcpserver.AddMCPServerReq'
      produces:
      - application/json
      responses:
        "200":
          description: 请求响应 (Code=0 成功)
          schema:
            $ref: '#/definitions/mcpserver.AddMCPServerResp'
      summary: 添加 MCPServer
      tags:
      - MCPServer管理
  /api/mcpservers/:id:
    delete:
      description: 删除指定的 MCPServer
      parameters:
      - description: MCPServer ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: 请求响应 (Code=0 成功)
          schema:
            $ref: '#/definitions/mcpserver.DeleteMCPServerResp'
      summary: 删除 MCPServer
      tags:
      - MCPServer管理
    get:
      description: 根据 ID 获取指定的 MCPServer 详情
      parameters:
      - description: MCPServer ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: 请求响应 (Code=0 成功)
          schema:
            $ref: '#/definitions/mcpserver.GetMCPServerResp'
        "400":
          description: 请求参数错误
          schema:
            $ref: '#/definitions/mcpserver.GetMCPServerResp'
      summary: 获取单个 MCPServer
      tags:
      - MCPServer管理
    put:
      consumes:
      - application/json
      description: 更新指定的 MCPServer 信息
      parameters:
      - description: MCPServer ID
        in: path
        name: id
        required: true
        type: string
      - description: 更新请求参数
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/mcpserver.UpdateMCPServerReq'
      produces:
      - application/json
      responses:
        "200":
          description: 请求响应 (Code=0 成功)
          schema:
            $ref: '#/definitions/mcpserver.UpdateMCPServerResp'
      summary: 更新 MCPServer
      tags:
      - MCPServer管理
  /api/mcpservers/tokens:
    post:
      consumes:
      - application/json
      description: 为 MCPServer 生成访问 Token
      parameters:
      - description: 生成Token请求参数
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/mcpserver.GenerateTokenReq'
      produces:
      - application/json
      responses:
        "200":
          description: 请求响应 (Code=0 成功)
          schema:
            $ref: '#/definitions/mcpserver.GenerateTokenResp'
      summary: 生成 Token
      tags:
      - MCPServer管理
  /api/mcpservers/tokens/:id:
    delete:
      description: 删除指定的 Token
      parameters:
      - description: Token ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: 请求响应 (Code=0 成功)
          schema:
            $ref: '#/definitions/mcpserver.DeleteTokenResp'
      summary: 删除 Token
      tags:
      - MCPServer管理
  /api/users:
    post:
      consumes:
      - application/json
      description: 新用户注册账号
      parameters:
      - description: 注册请求参数
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/user.RegisterReq'
      produces:
      - application/json
      responses:
        "200":
          description: 请求成功 (Code=0) 或失败 (Code!=0)
          schema:
            $ref: '#/definitions/user.RegisterResp'
      summary: 用户注册
      tags:
      - 用户管理
  /api/users/:id:
    get:
      description: 根据用户 ID 获取用户详细信息
      parameters:
      - description: 用户ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: 请求响应 (Code=0 成功)
          schema:
            $ref: '#/definitions/user.GetUserInfoResp'
      summary: 获取用户信息
      tags:
      - 用户管理
  /api/users/me:
    get:
      description: 获取当前登录用户的详细信息
      produces:
      - application/json
      responses:
        "200":
          description: 请求响应 (Code=0 成功)
          schema:
            $ref: '#/definitions/user.GetUserInfoResp'
      summary: 获取当前用户信息
      tags:
      - 用户管理
    put:
      consumes:
      - application/json
      description: 更新当前登录用户的详细信息
      parameters:
      - description: 更新参数
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/user.UpdateSelfInfoReq'
      produces:
      - application/json
      responses:
        "200":
          description: 请求响应 (Code=0 成功)
          schema:
            $ref: '#/definitions/user.UpdateSelfInfoResp'
      summary: 更新当前用户信息
      tags:
      - 用户管理
  /ping:
    get:
      description: 检查服务是否存活
      responses:
        "200":
          description: Pong
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 健康检查
      tags:
      - 基础接口
  /proxy:
    delete:
      description: 转发客户端请求到目标服务,必须添加"X-OpenMCP-Token"请求头，即MCPServer生成的Token
      responses: {}
      summary: 转发请求
      tags:
      - 转发服务
    get:
      description: 转发客户端请求到目标服务,必须添加"X-OpenMCP-Token"请求头，即MCPServer生成的Token
      responses: {}
      summary: 转发请求
      tags:
      - 转发服务
    patch:
      description: 转发客户端请求到目标服务,必须添加"X-OpenMCP-Token"请求头，即MCPServer生成的Token
      responses: {}
      summary: 转发请求
      tags:
      - 转发服务
    post:
      description: 转发客户端请求到目标服务,必须添加"X-OpenMCP-Token"请求头，即MCPServer生成的Token
      responses: {}
      summary: 转发请求
      tags:
      - 转发服务
    put:
      description: 转发客户端请求到目标服务,必须添加"X-OpenMCP-Token"请求头，即MCPServer生成的Token
      responses: {}
      summary: 转发请求
      tags:
      - 转发服务
swagger: "2.0"
